
html {background-color: rgb(142, 216, 135);}
.top-center-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px; 
    font-family: sans-serif; 
}
